@charset "UTF-8";
/*wireframe.css*/
/* Works together with Twentysixteen, Twentyseventeen, Twentynineteen and TwentyTwenty and many other themes.
*/
/*
* GATHER RESSOURCES
*/
/* Import sketch style Google font */
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
/*implement webfont redacted (changes text to gray bars)*/
@font-face {
  font-family: "redactedregular";
  src: url("../webfonts/redacted-regular.eot");
  src: url("../webfonts/redacted-regular.eot?#iefix") format("embedded-opentype"), url("../webfonts/redacted-regular.woff2") format("woff2"), url("../webfonts/redacted-regular.woff") format("woff"), url("../webfonts/redacted-regular.ttf") format("truetype"), url("../webfonts/redacted-regular.svg#redactedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.is-wireframe div img,
.is-wireframe figure img {
  border: 2px solid #909090;
  border-radius: 2% 1% 2% 1%/1% 1% 2% 4%;
}

/*
* SOME RESETS
*/
body.is-wireframe {
  background-color: transparent !important;
  background: transparent !important;
}

body.is-wireframe * {
  border-radius: 0;
  background-image: none;
  font-style: normal !important;
}

/*
* CHANGE IMAGES TO PLACEHOLDER
*/
.is-wireframe div img,
.is-wireframe figure img {
  -o-object-position: -99999px 99999px;
  object-position: -99999px 99999px;
  background: url("../images/placeholder.png") center bottom no-repeat;
  background-size: cover !important;
}
.is-wireframe .wp-block-cover {
  background: url("../images/placeholder.png") center bottom no-repeat !important;
  background-size: cover !important;
}
.is-wireframe .has-background-dim:before {
  background-color: black !important;
}

/*
* CHANGE FONTS
*/
/* 1. Text elements that will be not readable (gray bars)
  like paragraphs for example. */
body.is-wireframe,
.is-wireframe p,
.is-wireframe figcaption,
.is-wireframe .widget ul li a,
article ul li,
article ol li,
.wp-block-latest-posts__post-excerpt,
.widget * {
  font-family: "redactedregular" !important;
  font-size: 1em;
  color: #999 !important;
  letter-spacing: 0;
}

/* 2. Text elements with sketch font that are still readable
  like headlines and links for example. */
.is-wireframe ::-webkit-input-placeholder {
  font-family: "Shadows Into Light Two", cursive !important;
  line-height: 1.2 !important;
  letter-spacing: 2px;
}
.is-wireframe ::-moz-placeholder {
  font-family: "Shadows Into Light Two", cursive !important;
  line-height: 1.2 !important;
  letter-spacing: 2px;
}
.is-wireframe :-ms-input-placeholder {
  font-family: "Shadows Into Light Two", cursive !important;
  line-height: 1.2 !important;
  letter-spacing: 2px;
}
.is-wireframe ::-ms-input-placeholder {
  font-family: "Shadows Into Light Two", cursive !important;
  line-height: 1.2 !important;
  letter-spacing: 2px;
}
.is-wireframe input,
.is-wireframe label,
.is-wireframe a,
.is-wireframe a.button,
.is-wireframe .wp-block-cover__inner-container p,
.is-wireframe .site-description,
.is-wireframe .site-title,
.is-wireframe .site-footer *,
.is-wireframe #site-footer *,
.is-wireframe h1,
.is-wireframe h1 a,
.is-wireframe h2,
.is-wireframe h2 a,
.is-wireframe h3,
.is-wireframe h3 a,
.is-wireframe h4,
.is-wireframe h4 a,
.is-wireframe h5,
.is-wireframe h5 a,
.is-wireframe h6 {
  font-family: "Shadows Into Light Two", cursive !important;
  line-height: 1.2 !important;
  letter-spacing: 2px;
}

/*Font color on dimmed cover blcosk always be white*/
.is-wireframe {
  /*
  * BITS AND BOBS
  */
  /* Define some extra CSS for wireframe font
  because the sketchy font is – different. */
  /* Buttons Block hover */
  /* Hide elements that make no sense in a wireframe. */
  /* Leave adminbar alone. */
}
.is-wireframe .wp-block-cover.has-background-dim .wp-block-cover__inner-container * {
  color: white !important;
}
.is-wireframe .entry-content h1 {
  font-size: 2.8em;
  line-height: 1.4;
  margin-bottom: 1em;
}
.is-wireframe .entry-content h2 {
  font-size: 2.4em;
  line-height: 1.4;
  margin-bottom: 0.5em;
}
.is-wireframe .entry-content h3 {
  font-size: 1.5em;
  line-height: 1.4;
  margin-bottom: 0.5em;
}
.is-wireframe .entry-content h4 {
  font-size: 1.2em;
  line-height: 1.4;
  margin-bottom: 0.5em;
}
.is-wireframe .wp-block-button__link:hover,
.is-wireframe .wp-block-button.is-style-outline .wp-block-button__link:hover {
  background-color: #0972be;
  color: white;
}
.is-wireframe .edit-link,
.is-wireframe .post-edit-link,
.is-wireframe .post-edit,
.is-wireframe .comment-form label {
  display: none !important;
}
.is-wireframe div#wpadminbar,
.is-wireframe div#wpadminbar a {
  line-height: inherit !important;
  font-family: inherit !important;
}
